:root {
  font-family: "Helvetica", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.3;
  font-size: var(--fs-2);

  color-scheme: light dark;
  color: black;
  background-color: var(--color-brown-200);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* color-scheme */
  --color-brown-500: #7b736c;
  --color-brown-400: #ac9f94;
  --color-brown-300: #c6bdb6;
  --color-brown-200: #d1cac4;
  --color-brown-100: #dfd8d1;
  --color-green: #01aa15;

  /* Fonts scheme */
  --fs-1: 0.75rem;
  --fs-2: 1rem;
  --fs-3: 1.1rem;
  --fs-4: 1.5rem;
  --fs-6: 1.8rem;
  --fs-7: 2.6rem;
  --fs-8: 4rem;
  --fs-9: 6rem;
}

::selection {
  background-color: var(--color-brown-500);
  color: white;
}
body::-webkit-scrollbar {
  width: 4px;
  display: none;
}
body::-webkit-scrollbar-thumb {
  background-color: #2929298f;
  border-radius: 30px;
}
body::-webkit-scrollbar-track {
  background-color: #f6f6f6;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Font Family  */

@font-face {
  font-family: "Helvetica-Bold";
  src: url(./fonts/Helvetica-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Helvetica";
  src: url(./fonts/Helvetica.ttf) format("truetype");
}
@font-face {
  font-family: "Helvetica-LightOblique";
  src: url(./fonts/Helvetica-LightOblique.ttf) format("truetype");
}
@font-face {
  font-family: "Helvetica-BoldCondensed";
  src: url(./fonts/Helvetica-BoldCondensed.otf) format("opentype");
}
@font-face {
  font-family: "Helvetica-BoldOblique";
  src: url(./fonts/Helvetica-BoldOblique.ttf) format("truetype");
}
@font-face {
  font-family: "Helvetica-BlackCondensedOblique";
  src: url(./fonts/HelveticaBlackCondensedOblique.otf) format("opentype");
}
@font-face {
  font-family: "Graphix-Regular";
  src: url(./fonts/Graphik-Regular-Trial.otf) format("opentype");
}
@font-face {
  font-family: "Graphix-Medium";
  src: url(./fonts/Graphik-Medium-Trial.otf) format("opentype");
}
